{% extends 'base1.html' %}
	{% load static %}
	{% block content %}

			<!-- start banner Area -->

			<!-- Start search-course Area -->
			<section class="search-course-area relative">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-6 col-md-6 search-course-left">
							<h1 class="text-white">

							</h1>
							<p></p>
							<div class="row details-content">
								<div class="col single-detials">
								</div>
								<div class="col single-detials">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 search-course-right section-gap">
							<form class="form-wrap" action="#">

							</form>
						</div>
					</div>
				</div>
			</section>
			<!-- End search-course Area -->


			<!-- Start upcoming-event Area -->

			<!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">


						<h5>{{ article.title }}</h5>
							<br>
							<p>
								{{ article.content }}
							</p>

					<p><strong>Published Date:</strong> {{ article.date_published }}</p>
<a href="{% url 'article_list' %}">Back to Articles</a>

				</div>
			</section>
			<!-- End blog Area -->


			<!-- Start cta-two Area -->
			<section class="cta-two-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 cta-left">
							<h1>Not Yet Satisfied with our Trend?</h1>
						</div>
						<div class="col-lg-4 cta-right">
							<a class="primary-btn wh" href="#">view our blog</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End cta-two Area -->

			{% endblock content %}